body {
  margin: 0;
  padding: 6rem 0 0 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

a, button, img, label, input[type=submit] {
  cursor: pointer;
}

a {
  text-decoration: none;
  text-wrap: nowrap;
  font-family: Lato;
  color: white;
  transition: 0.1s ease-in-out;
}

a:hover {
  color: #4b3224;
}

h1 {
  font-family: Lato;
  font-weight: bold;
  font-size: 2rem;
}

p {
  font-family: Lato;
  font-weight: 400;
  margin: 0.2rem;
}

hr {
  border: 1px solid rgb(90, 90, 90);
  margin: 2rem 0;
}

.background-img {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.2;
}

@media (max-width: 800px) {
  .nav___link {
    display: none;
  }
  .alt__nav {
    display: flex;
    filter: invert(1) brightness(1000);
  }
  .navbar-nav {
    margin-top: 1rem;
  }
}
@media (max-width: 800px) {
  .carousel {
    display: flex;
    flex-flow: column nowrap;
  }
  .carousel-item__body {
    height: 10rem;
    top: 30%;
    width: 100%;
  }
  .carousel-inner {
    max-height: 30rem;
  }
  .carousel-item img {
    height: 20rem;
    object-fit: cover;
  }
}
@media (max-width: 860px) {
  .policies__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  .policy__section {
    min-height: 12rem;
  }
}
@media (max-width: 500px) {
  .policies__section {
    grid-template-columns: 100%;
    row-gap: 1rem;
  }
  .policy__section {
    min-height: auto;
  }
}
@media (max-width: 800px) {
  .footer {
    display: flex;
    flex-flow: column nowrap;
  }
  .footer__section:not(.footer__contact) {
    border-top: 1px solid #bcbcbc;
  }
  .footer__section {
    padding: 2rem 1rem;
  }
  .contact-data__map {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .product__card {
    flex-grow: 1;
  }
}
@media (max-width: 800px) {
  .list__card {
    display: flex;
    flex-flow: row wrap;
    min-width: auto;
  }
  .list__card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
}
@media (max-width: 810px) {
  .contact__main {
    display: flex;
    flex-flow: column wrap;
    row-gap: 4rem;
  }
  .info__section {
    width: 100%;
    border: none;
    align-items: center;
  }
  .info__section__map {
    width: 100vw;
  }
}
.header {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 1rem;
  margin-bottom: 2rem;
  row-gap: 1rem;
}
.header .navbar {
  background-color: #CB997E;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header .navbar .nav-logo {
  filter: invert(1) brightness(1000);
  width: 50px;
}
.header .navbar .nav-link {
  color: white;
}
.header .navbar .navbar-toggler {
  border: 1px solid white;
  filter: invert(0) brightness(1000);
}
.header .navbar .navbar-toggler:focus {
  box-shadow: none;
}
.header .breadcrumb {
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}
.header .breadcrumb .breadcrumb-item a {
  color: rgb(173, 173, 173);
}
.header .carousel {
  display: flex;
  gap: 0.5rem;
}
.header .carousel .carousel-inner {
  height: 35rem;
  flex: 2;
}
.header .carousel .carousel-inner .carousel-item {
  position: relative;
}
.header .carousel .carousel-inner .carousel-item .carousel-item__body {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 2rem;
  width: 30rem;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.header .carousel .carousel-inner .carousel-item .carousel-item__img {
  height: 35rem;
  object-fit: cover;
}

.page-wrapper {
  padding: 0 1rem;
  max-width: 65rem;
  margin: auto;
}
.page-wrapper .main {
  min-height: 20rem;
}
.page-wrapper .main .policies__section {
  min-height: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}
.page-wrapper .main .policies__section .policy__section {
  display: flex;
  align-items: center;
  align-self: center;
  column-gap: 1rem;
  padding: 1rem;
  border: 2px solid #6B705C;
  font-size: 0.8rem;
  flex: 1 1 10rem;
}

.product__page-wrapper {
  padding: 0 1rem;
  max-width: 75rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  margin: auto;
}
.product__page-wrapper .product__aside {
  width: auto;
  min-height: 40rem;
  border-right: 1px solid rgb(200, 200, 200);
  padding: 0 1rem;
}
.product__page-wrapper .product__aside .product__categories__title {
  margin: 2rem 0;
  font-weight: bold;
}
.product__page-wrapper .product__aside .product__categories__options {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  row-gap: 0.5rem;
}
.product__page-wrapper .product__aside .product__price__range {
  display: flex;
  align-items: center;
}
.product__page-wrapper .product__main {
  width: auto;
  min-height: 40rem;
}
.product__page-wrapper .product__main .product__main__title {
  margin-left: 1rem;
}
.product__page-wrapper .product__main .product__main__cards {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  gap: 1rem;
}
.product__page-wrapper .product__main .product__main__cards .product__card {
  background-color: #B7B7A4;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.2rem;
  flex: 0 1 16rem;
  height: auto;
}
.product__page-wrapper .product__main .product__main__cards .product__card .product__card__title {
  font-size: 1rem;
  font-family: "Lato";
}
.product__page-wrapper .product__main .product__main__cards .product__card .product__card__img {
  object-fit: cover;
  height: 12rem;
  width: 100%;
}
.product__page-wrapper .product__main .product__main__cards .product__card .product__card__description {
  font-size: 0.9rem;
}
.product__page-wrapper .product__main .product__main__cards .product__card .product__card__price-container {
  display: flex;
  column-gap: 1rem;
}
.product__page-wrapper .product__main .product__main__cards .product__card .product__card__price-container .product__card__discount {
  font-weight: bold;
  color: white;
  background-color: darkred;
  font-family: lato;
}
.product__page-wrapper .product__main .product__main__cards .product__card .product__card__price-container .product__card__price {
  font-weight: bolder;
}

.services__main {
  padding: 0 1rem;
  max-width: 70rem;
  min-height: 40rem;
  margin: auto;
}
.services__main .services__main__list {
  display: flex;
  flex-flow: column nowrap;
  margin: 5rem 0;
  row-gap: 2rem;
}
.services__main .services__main__list .list__card {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  border-top: 1px solid rgb(207, 207, 207);
  border-bottom: 1px solid rgb(207, 207, 207);
  min-width: 50rem;
}
.services__main .services__main__list .list__card .list__card__info {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
}
.services__main .services__main__list .list__card .list__card__info .list__card__info__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #C1A574;
}

.about-us__main {
  padding: 0 1rem;
  max-width: 50rem;
  margin: auto;
}
.about-us__main .about-us__section {
  min-height: 20rem;
  padding: 2rem 5rem;
  margin: 10rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: white;
  border-radius: 1rem;
  background-image: url("images/about-us/background.avif");
  background-size: cover;
  box-shadow: 8px 10px 25px 8px rgb(123, 123, 123);
}
.about-us__main .about-us__section .about-us__section__title {
  font-size: 2rem;
  font-weight: bold;
}

.contact__main {
  max-width: 60rem;
  margin: 5rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.contact__main .info__section {
  grid-column: 1/2;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2rem;
  border-right: 2px solid rgb(190, 190, 190);
  width: 25rem;
}
.contact__main .info__section .data-list {
  padding: 0;
  list-style-position: inside;
}
.contact__main .contact__section {
  grid-column: 2/3;
  min-height: 20rem;
  width: 25rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}
.contact__main .contact__section .contact__section__form {
  padding: 1rem;
  height: 25rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  font-family: Lato;
}
.contact__main .contact__section .contact__section__form .form__section {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__main .contact__section .contact__section__form .form__section .form__label {
  flex: 1;
}
.contact__main .contact__section .contact__section__form .form__section .form__input {
  flex: 3;
  height: 2rem;
  padding: 0 0.4rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}
.contact__main .contact__section .contact__section__form .form__section .form__input:focus {
  background: linear-gradient(to bottom, white 70%, bisque 95%);
}
.contact__main .contact__section .contact__section__form .form__section .required {
  color: red;
  font-size: 1.2rem;
}
.contact__main .contact__section .contact__section__form .form__textarea {
  height: 10rem;
  resize: none;
  padding: 0.4rem;
  font-family: Lato;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}
.contact__main .contact__section .contact__section__form .form__submit {
  width: 10rem;
  height: 2rem;
  margin: auto;
  border-radius: 0.4rem;
  background-color: transparent;
}

.footer {
  min-height: 25rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto, 3rem;
  margin-top: 2rem;
  column-gap: 3rem;
  background-color: #d5a992;
}
.footer p {
  color: white;
}
.footer .footer__section {
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 1rem;
}
.footer .footer__section .footer__title {
  margin-bottom: 2rem;
  font-weight: bold;
}
.footer .footer__section .contact-data {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
}
.footer .footer__section .contact-data .contact-data__map {
  max-width: 100%;
}
.footer .footer__section .faqs__links {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
}
.footer .footer__section .social__icons {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.footer .footer__section .social__icons .social__icon {
  filter: invert(1) brightness(1000);
  transition: 0.3s ease-in-out;
}
.footer .footer__section .social__icons .social__icon:hover {
  filter: brightness(0);
}
.footer .copyright__section {
  background-color: var(--buff);
  grid-column: 1/4;
  grid-row: 2/3;
  color: white;
  font-size: 0.7rem;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 1rem;
}

/*# sourceMappingURL=styles.css.map */
