@use '../variables/variables' as *;
@use '../mixins/mixins' as *;


.footer{
    min-height: 25rem; 
    padding-top: 1rem;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto, 3rem;
    margin-top: 2rem;   
    column-gap: 3rem;
    background-color: #d5a992

    p{
        color: white;
    }

    .footer__section{
        justify-self: center;
        display: flex; 
        flex-flow: column nowrap;
        padding: 0 1rem;

        .footer__title{
            margin-bottom: 2rem;
            font-weight: bold;
        }

        .contact-data{
            display: flex; 
            flex-flow: column nowrap; 
            row-gap: .5rem;

            .contact-data__map{
                max-width: 100%;   
            }
        }

        .faqs__links{
            display: flex; 
            flex-flow: column nowrap;
            row-gap: 1rem;
        }

        .social__icons{
            display: flex; 
            column-gap: 1rem;
            align-items: center;

            .social__icon{
                filter: invert(1) brightness(1000);
                transition: .3s ease-in-out;

                &:hover{
                    filter:brightness(0)
                }
            }
        }
    }
    
    .copyright__section{
        background-color: var(--buff);
        grid-column: 1/4;
        grid-row: 2/3;
        color: white;
        font-size: .7rem;
        display: flex; 
        height: 2rem;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        padding: 2rem 1rem;
    }
    
}